[Desktop Entry]
Type=Service
Exec=blubb
Comment=Provides Integration with Perforce Version Control System
Comment[es]=Proporciona integración con el sistema de control de versiones Perforce
Comment[nl]=Levert integratie met versiebeheersysteem Perforce
Comment[pt]=Fornece a integração com o sistema de controlo de versões Perforce
Comment[pt_BR]=Fornece a integração com o sistema de controle de versões Perforce
Comment[sv]=Tillhandahåller integrering med Perforce versionskontrollsystem
Comment[uk]=Забезпечує інтеграцію з системою керування версіями Perforce
Comment[x-test]=xxProvides Integration with Perforce Version Control Systemxx
Name=Perforce Support
Name[cs]=Podpora Perforce
Name[de]=Perforce-Unterstützung
Name[es]=Implementación de Perforce
Name[nds]=Perforce-Ünnerstütten
Name[nl]=Ondersteuning van Perforce
Name[pt]=Suporte para Perforce
Name[pt_BR]=Suporte para Perforce
Name[sv]=Stöd för Perforce
Name[uk]=Підтримка Perforce
Name[x-test]=xxPerforce Supportxx
GenericName=Perforce VCS
GenericName[de]=Perforce VCS
GenericName[es]=SCV Perforce
GenericName[nl]=Perforce VCS
GenericName[pt]=SCV Perforce
GenericName[pt_BR]=SCV Perforce
GenericName[sv]=Perforce versionskontrollsystem
GenericName[uk]=СКВ Perforce
GenericName[x-test]=xxPerforce VCSxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevperforce
X-KDE-PluginInfo-Name=kdevperforce
X-KDE-PluginInfo-Author=Morten Danielsen Volden
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Version Control
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI


