[Desktop Entry]
Type=Service
Exec=blubb
Comment=Provides Integration with Perforce Version Control System
Comment[bg]=Поддръжка на системата за управление на версии Perforce
Comment[de]=Stellt Integration mit dem Versionsverwaltungssystem Perforce zur Verfügung
Comment[es]=Proporciona integración con el sistema de control de versiones Perforce
Comment[et]=Lõimimine versioonihaldussüsteemiga Perforce
Comment[fr]=Fournit une intégration avec le système de contrôle de versions Perforce
Comment[hu]=Integráció a Perforce verziókezelő rendszerrel
Comment[mr]=परफोर्स आवृत्ती नियंत्रण प्रणाली बरोबर एकीकरण पुरवितो
Comment[nl]=Biedt ondersteuning voor Perforce versiecontrolesysteem
Comment[pl]=Dostarcza integrację z systemem kontroli wersji Perforce
Comment[pt]=Fornece a integração com o sistema de controlo de versões Perforce
Comment[pt_BR]=Fornece a integração com o sistema de controle de versões Perforce
Comment[sk]=Poskytuje integráciu s verzionovacím systémom Perforce
Comment[sv]=Tillhandahåller integrering med Perforce versionskontrollsystem
Comment[uk]=Забезпечує інтеграцію з системою керування версіями Perforce
Comment[x-test]=xxProvides Integration with Perforce Version Control Systemxx
Comment[zh_TW]=提供與 Perforce 版本控制系統的整合
Name=Perforce Support
Name[bg]=Поддръжка на Perforce
Name[cs]=Podpora Perforce
Name[de]=Perforce-Unterstützung
Name[es]=Implementación de Perforce
Name[et]=Perforce'i toetus
Name[fr]=Prise en charge de Perforce
Name[ga]=Tacaíocht Perforce
Name[gl]=Compatibilidade con Perforce
Name[hu]=Perforce támogatás
Name[mr]=परफोर्स समर्थन
Name[nds]=Perforce-Ünnerstütten
Name[nl]=Ondersteuning van Perforce
Name[pl]=Obsługa Perforce
Name[pt]=Suporte para Perforce
Name[pt_BR]=Suporte para Perforce
Name[sk]=Podpora Perforce
Name[sv]=Stöd för Perforce
Name[uk]=Підтримка Perforce
Name[x-test]=xxPerforce Supportxx
Name[zh_TW]=Perforce 支援
GenericName=Perforce VCS
GenericName[bg]=Perforce VCS
GenericName[cs]=Perforce VCS
GenericName[de]=Perforce VCS
GenericName[es]=SCV Perforce
GenericName[et]=Perforce'i versioonihaldussüsteem
GenericName[fr]=VCS Perforce
GenericName[ga]=Córas Rialaithe Leaganacha Perforce
GenericName[hu]=Perforce VCS
GenericName[mr]=परफोर्स व्हीसीएस
GenericName[nl]=Perforce VCS
GenericName[pl]=Perforce VCS
GenericName[pt]=SCV Perforce
GenericName[pt_BR]=VCS Perforce
GenericName[sk]=Perforce VCS
GenericName[sv]=Perforce versionskontrollsystem
GenericName[uk]=СКВ Perforce
GenericName[x-test]=xxPerforce VCSxx
GenericName[zh_TW]=Perforce VCS
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevperforce
X-KDE-PluginInfo-Name=kdevperforce
X-KDE-PluginInfo-Author=Morten Danielsen Volden
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Version Control
X-KDevelop-Version=15
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI


